# ------------------------------------
# 1. 仮想環境とパッケージ管理
# ------------------------------------

# 仮想環境ディレクトリ (よく使われる名前)
.venv
venv
env
/venv/
/env/
/bin/
/include/
/lib/
/lib64/

# pip のキャッシュとログファイル
pip-log.txt
.pip_log

# Python パッケージ管理ファイル
poetry.lock  # Poetryを使う場合、この行は削除してコミットすべきです
requirements.txt # pipを使う場合、この行は削除してコミットすべきです

# Pipenv ファイル (ロックファイルは通常コミットすべき)
Pipfile.lock

# Conda 環境ディレクトリ
.conda

# ------------------------------------
# 2. バイトコードと一時ファイル
# ------------------------------------

# Python バイトコードファイル
*.pyc
__pycache__/
*.pyd
*.whl

# C/C++ 拡張モジュールの一時ファイル
*.so
*.o
*.dll

# dist/build/egg/ など (パッケージング関連)
dist/
build/
*.egg-info/
.eggs/

# ------------------------------------
# 3. テストとドキュメント
# ------------------------------------

# テストカバレッジファイル
.coverage
.tox/

# Sphinx ドキュメントのビルドファイル
/docs/_build/

# ------------------------------------
# 4. OS/エディタのファイル
# ------------------------------------

# macOS
.DS_Store

# Vim
*~

# VS Code の設定
.vscode/

# JetBrains IDEs (PyCharm, IntelliJ IDEAなど)
.idea/

C

# データベースファイル
*.sqlite3
db.sqlite3

# ログファイル
*.log
/logs/

# 環境変数やシークレット情報
.env
.flaskenv

# MY APP
/var/tmp/
*.iml


